
body {
	margin: 0px;
	padding: 0px;
}

h1 {
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-size: 140%;
	color: #ffffff;
}

#container {
	margin: 0 30px;
	background: #fff;
}

#header {
	background: #ccc;
	padding: 20px;
}

#header h1 {
	margin: 0;
}

#content {
	clear: left;
	padding: 20px;
}

#content h2 {
	color: #000;
	font-size: 160%;
	margin: 0 0 0.5em;
}

#footer {
	background: #ccc;
	text-align: right;
	padding: 20px;
	height: 1%;
}

